[class*="col-"]{
  position: relative;
}

.testo {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rosa {
  background-color: #FFC0CB;
}

/* .container.rosa-scuro [class*="col-"]{
  border: 1px solid #FFFF;
} */

.debug .rosa-scuro [class*="col-"] {
  background-color: #F07F80;
  border: 1px solid white;
}
